/* Importa las fuentes de letra desde Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

/*Fondo*/
.fondo{
    display: block;/*Hace que sea visible el fondo*/
    z-index: -2; /*Coloca el fondo en la capa -2*/
    width: 100%;
    position: absolute;
    position: fixed; /*Fija la imagen para toda la navegación de la página*/
    filter: blur(0.2vw);/*Agrega un filtro de difuminado para la imagen*/
    transform: translate(0vw, -3vw);/*Mueve la imagen 3vw para arriba (Esto lo hice porque el nav ocupa 3vw y hace que al navegar por la página haya un rectángulo blanco sobre el fondo)*/
}
.fondo-tel{
    display: none;/*Hace que el fondo para el responsive no se vea si no se cumple la condición del ancho de pantalla*/
}
/*Barra de navegación*/

nav{
    display: flex;
    justify-content: space-around;
    background-color: white;
}

nav img{
    width: 2vw;
    height: 2vw;
}

#modo{
    margin-top: 0.5vw; /*Le agrego este margen a esta id para no afectar al resto de elementos con la misma denominación*/
}

nav a{
    font-family: 'Cinzel Decorative';
    color: black;
    text-decoration: none;
    font-size: 1.8vw;
    align-self: center;
    margin-top: 0.5vw;
}

nav a:hover{/*Cuando el usuario pase su mouse por encima de alguno de los links, estos se van a transformar en una escala 1.1 con una transición*/
    transform: scale(1.1);
    transition: ease-in-out 0.1s;
}

nav a:not(:hover){/*Esto para que vuelva a su estado original con otra transición una vez el usuario saque el mouse del link*/
    transform: scale(1);
    transition: ease-in-out 0.2s;
}
.nav-imagenes
{
    display: none;/*Esto sirve para el responsive nomás, hace que los elementos de esta clase no se vean si no se cumple la condición impuesta más abajo*/
}
/*Contenido del index*/

.titulo{
    font-family: 'Cinzel Decorative';
    font-size: 5.2vw;
    text-align: center;
    margin: 1vw;
}

.introduccion{
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    font-family: 'Crimson Text';
    font-size: 2.5vw;
    text-align: center;
    margin: 2vw;
    padding: 1.5vw;
}

.botones{
    display: flex;
    margin: 2vw;
    justify-content: space-around;
}

.botones a{
    background-color: rgb(255, 255, 255);
}

.botones a img{
    width: 20vw;
    padding: 2vw;
}

.botones a img:hover{/*Cuando el usuario pase su mouse por encima de alguno de los botones, estos se van a transformar con una escala 1.1 con una transición*/
    transform: scale(1.1);
    transition: ease-in-out 0.1s;
}

.botones a img:not(:hover){/*Esto sirve para que vuelva a su estado original con otra transición una vez el usuario saque el mouse del link*/
    transform: scale(1);
    transition: ease-in-out 0.2s;
}

/*Contenido de Biografías*/

.biografias{
    display: flex;
    justify-content: space-between;
    margin-top: 0.5vw;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1vw;
}

.titulos_biografias{
    font-size: 4vw;
    font-family: 'Cinzel Decorative';
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1vw;
    text-decoration: underline;/*Subrayado en el título*/
}

.informacion{
    font-family: 'Crimson Text';
    font-size: 2vw;
    text-shadow: 0.05vw 0.05vw gray;/*Sombreado del texto, aplica una sombra gris*/
    text-align: justify;/*Texto justificado*/
    padding: 1vw;
}

.biografias img
{
    width: 22vw;
    height: 22vw;
    padding: 1vw;
}
/*Contenido de Reseñas*/
.resenas{
    justify-content: space-between;
    margin-top: 0.5vw;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1vw;
}

.titulos_resenas{
    font-size: 4vw;
    font-family: 'Cinzel Decorative';
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1vw;
    text-decoration: underline;
}

.resenas img
{
    width: 22vw;
    height: 22vw;
    padding: 1vw;
    float: left;/*El texto podrá colocarse por debajo de la imagen una vez supere su longitud (Esto para evitar espacios en blanco debajo de la imagen)*/
}
/*Contenido de Poesía*/
.main_poesia
{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2vw;
}
.titulo_p
{
    font-family: 'Cinzel Decorative';
    font-size: 5.2vw;
    text-align: left;
    margin: 1vw;
}
.poesias
{
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1vw;
    margin: 5vw;
}
.titulos_poesias
{
    font-size: 4vw;
    font-family: 'Cinzel Decorative';
    padding: 1vw;
    text-decoration: underline;
    line-height: 1.5;/*Espacio entre líneas, por defecto es 1*/
}
.contenido_total
{
    display: flex;
    justify-content: space-around;
}
.contenido_poesias
{
    font-family: 'Crimson Text';
    font-size: 2vw;
    text-shadow: 0.05vw 0.05vw gray;
    text-align: left;
    padding: 1vw;
    line-height: 1.5;
}
.poesias img
{
    width: 22vw;
    height: 22vw;
    padding: 1vw;
}
/*Footer*/

footer
{
    background-color: black;
}

footer p
{
    color: white;
    text-align: center;
    font-size: 2vw;
    padding: 5vw;
}

/* Declaracion del responsive de todas las páginas */
@media screen and (max-width: 768px) {
    /* General */
    .fondo{
        display: none;
    }
    .fondo-tel{
        display: block;
        z-index: -2;
        width: 100%;
        position: absolute;
        position: fixed;
        filter: blur(0.6vw);
        transform: translate(0vw, -9vw);
    }
    footer p{
        font-size: 6vw;
        padding: 10vw;
    }
    /* Barra de navegación */
    nav a{
        display: none;
    }
    nav img{
        width: 8vw;
        height: 8vw;
    }
    .nav-imagenes, #home{
        display: block;
    }
    /* Index */
    .titulo{
        font-size: 10vw;
        text-align: center;
        margin: 5vw;
    }
    
    .introduccion{
        font-size: 6vw;
        margin: 1vw;
        padding: 4.5vw;
    }
    
    .botones{
        display: flex;
        margin: 2vw;
        justify-content: space-around;
        flex-direction: column;
    }

    .botones a{
        background-color: transparent;
    }

    .botones a img{
        width: 85vw;
        padding: 6vw;
        background-color: white;
    }
    /* Biografías */
    .biografias{
        display: block;
        margin-top: 1vw;
        padding: 2vw;
    }
    
    .titulos_biografias{
        font-size: 8vw;
        padding: 2vw;
    }
    
    .informacion{
        font-size: 4vw;
        text-shadow: 0.1vw 0.1vw gray;
        padding: 2vw;
    }
    
    .biografias img
    {
        width: 44vw;
        height: auto;
        padding: 2vw;
    }
    /*Reseñas*/
    .resenas{
        margin-top: 1vw;
        padding: 2vw;
    }

    .titulos_resenas{
        font-size: 8vw;
        padding: 2vw;
    }

    .resenas img
    {
        width: 44vw;
        height: 44vw;
        padding: 2vw;
        float: left;/*El texto podrá colocarse por debajo de la imagen una vez supere su longitud (Esto para evitar espacios en blanco debajo de la imagen)*/
    }
    /*Contenido de Poesía*/
    .main_poesia
    {
        padding: 4vw;
    }
    .titulo_p
    {
        font-size: 10vw;
        margin: 2vw;
    }
    .poesias
    {
        padding: 2vw;
        margin: 5vw;
    }
    .titulos_poesias
    {
        font-size: 8vw;
        padding: 2vw;
    }
    .contenido_total
    {
        display: block;
        justify-content: space-around;
    }
    .contenido_poesias
    {
        font-size: 4vw;
        text-shadow: 0.1vw 0.1vw gray;
        padding: 2vw;
    }
    .poesias img
    {
        width: 44vw;
        height: 44vw;
        padding: 2vw;
    }
}