/* Importa las fuentes de letra desde Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

/*Fondo*/
.fondo{
    z-index: -2;
    width: 100%;
    position: absolute;
    position: fixed;
    filter: blur(0.2vw);
    transform: translate(0vw, -3vw)
}

/*Barra de navegación*/

nav{
    display: flex;
    justify-content: space-around;
    background-color: white;
}

nav img{
    width: 2vw;
    height: 2vw;
}

#modo{
    margin-top: 0.5vw;
}

nav a{
    font-family: 'Cinzel Decorative';
    color: black;
    text-decoration: none;
    font-size: 1.8vw;
    align-self: center;
    margin-top: 0.5vw;
}

nav a:hover{
    transform: scale(1.1);
    transition: ease-in-out 0.1s;
}

nav a:not(:hover){
    transform: scale(1);
    transition: ease-in-out 0.2s;
}

/*Contenido del index*/

.titulo{
    font-family: 'Cinzel Decorative';
    font-size: 5.2vw;
    text-align: center;
    margin: 1vw;
}

.introduccion{
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    font-family: 'Crimson Text';
    font-size: 2.5vw;
    text-align: center;
    margin: 2vw;
    padding: 1.5vw;
}

.botones{
    display: flex;
    margin: 2vw;
    justify-content: space-around;
}

.botones a{
    background-color: rgb(255, 255, 255);
}

.botones a img{
    width: 20vw;
    padding: 2vw;
}

.botones a img:hover{
    transform: scale(1.1);
    transition: ease-in-out 0.1s;
}

.botones a img:not(:hover){
    transform: scale(1);
    transition: ease-in-out 0.2s;
}

/*Contenido de Biografías*/

.biografias{
    display: flex;
    justify-content: space-between;
    margin-top: 0.5vw;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1vw;
}

.titulos_biografias{
    font-size: 4vw;
    font-family: 'Cinzel Decorative';
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1vw;
    text-decoration: underline;
}

.informacion{
    font-family: 'Crimson Text';
    font-size: 2vw;
    text-shadow: 0.05vw 0.05vw gray;
    text-align: justify;
    padding: 1vw;
}

.biografias img
{
    width: 22vw;
    height: 22vw;
    padding: 1vw;
}
/*Contenido de Reseñas*/
.resenas{
    justify-content: space-between;
    margin-top: 0.5vw;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1vw;
}

.titulos_resenas{
    font-size: 4vw;
    font-family: 'Cinzel Decorative';
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1vw;
    text-decoration: underline;
}

.resenas img
{
    width: 22vw;
    height: 22vw;
    padding: 1vw;
    float: left;
}
/*Contenido de Poesía*/

/*Footer*/

footer
{
    background-color: black;
}

footer p
{
    color: white;
    text-align: center;
    font-size: 2vw;
    padding: 5vw;
}
@media screen and (max-width: 768px) {
    
}