/* Importa las fuentes de letra desde Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');

/*Fondo*/
.fondo{
    display: block;/*Hace que sea visible el fondo*/
    z-index: -2; /*Coloca el fondo en la capa -2*/
    width: 100%;
    position: absolute;
    position: fixed; /*Fija la imagen para toda la navegación de la página*/
    filter: blur(0.2vw);/*Agrega un filtro de difuminado para la imagen*/
    transform: translate(0vw, -3vw);/*Mueve la imagen 3vw para arriba (Esto lo hice porque el nav ocupa 3vw y hace que al navegar por la página haya un rectángulo blanco sobre el fondo)*/
}
.fondoModoOscuro{
    display: none;
    z-index: -2; /*Coloca el fondo en la capa -2*/
    width: 100%;
    position: absolute;
    position: fixed; /*Fija la imagen para toda la navegación de la página*/
    filter: blur(0.2vw);/*Agrega un filtro de difuminado para la imagen*/
    transform: translate(0vw, -3vw);/*Mueve la imagen 3vw para arriba (Esto lo hice porque el nav ocupa 3vw y hace que al navegar por la página haya un rectángulo blanco sobre el fondo)*/
}
.fondo-tel, .fondoModoOscuro-tel{
    display: none;/*Hace que el fondo, tanto del modo claro como del oscuro, para el responsive no se vea si no se cumple la condición del ancho de pantalla*/
}

/*Barra de navegación*/

nav{
    display: flex;
    justify-content: space-around;
    background-color: white;
}

nav img{
    width: 2vw;
    height: 2vw;
}

#modo{
    margin-top: 0.5vw; /*Le agrego este margen a esta id para no afectar al resto de elementos con la misma denominación*/
    cursor: pointer;
}

nav a{
    font-family: 'Cinzel Decorative';
    color: black;
    text-decoration: none;
    font-size: 1.8vw;
    align-self: center;
    margin-top: 0.5vw;
}

nav a:hover, #modo:hover{/*Cuando el usuario pase su mouse por encima de alguno de los links, estos se van a transformar en una escala 1.1 con una transición*/
    transform: scale(1.1);
    transition: ease-in-out 0.1s;
}

nav a:not(:hover), #modo:not(:hover){/*Esto para que vuelva a su estado original con otra transición una vez el usuario saque el mouse del link*/
    transform: scale(1);
    transition: ease-in-out 0.2s;
}
.nav-imagenes
{
    display: none;/*Esto sirve para el responsive nomás, hace que los elementos de esta clase no se vean si no se cumple la condición impuesta más abajo*/
}

/*Barra de navegación: Modo claro*/
.modoOscuro nav{
    background-color: black;
}

.modoOscuro #modo{
    filter: invert(100%);
}

.modoOscuro nav a{
    color: white;
}

/*Contenido del index*/

.titulo{
    font-family: 'Cinzel Decorative';
    font-size: 5.2vw;
    text-align: center;
    margin: 1vw;
}

.introduccion{
    background-color: rgba(255, 255, 255, 0.7);
    color: black;
    font-family: 'Crimson Text';
    font-size: 2.5vw;
    text-align: center;
    margin: 2vw;
    padding: 1.5vw;
}

.botones{
    display: flex;
    margin: 2vw;
    justify-content: space-around;/*Separa el contenido con un espacio alrededor*/
}

.botones a{
    background-color: rgb(255, 255, 255);
}

.botones a img{
    width: 20vw;
    padding: 2vw;
}

.botones a img:hover{/*Cuando el usuario pase su mouse por encima de alguno de los botones, estos se van a transformar con una escala 1.1 con una transición*/
    transform: scale(1.1);
    transition: ease-in-out 0.1s;
}

.botones a img:not(:hover){/*Esto sirve para que vuelva a su estado original con otra transición una vez el usuario saque el mouse del link*/
    transform: scale(1);
    transition: ease-in-out 0.2s;
}

/*Contenido de Biografías*/

.biografias{
    display: flex;
    justify-content: space-between;
    margin-top: 0.5vw;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1vw;
}

.titulos_biografias{
    font-size: 4vw;
    font-family: 'Cinzel Decorative';
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1vw;
    text-decoration: underline;/*Subrayado en el título*/
}

.informacion{
    font-family: 'Crimson Text';
    font-size: 2vw;
    text-shadow: 0.05vw 0.05vw gray;/*Sombreado del texto, aplica una sombra gris*/
    text-align: justify;/*Texto justificado*/
    padding: 1vw;
}

.biografias img
{
    width: 22vw;
    height: 22vw;
    padding: 1vw;
}
/*Este media query es para el slider de la página Biografías. Cuando el dispositivo tiene 769px de ancho o más, se activa el slider hecho con javascript*/
@media screen and (min-width: 769px) {
    .carousel-container {
        display: flex;
        overflow: hidden;/*El contenido que ocupe más espacio del que entra en la pantalla se ocultará*/
        margin-top: 0;/*Le aumento el margin de todos lados menos del top*/
        margin-bottom: 5vw;
        margin-right: 5vw;
        margin-left: 5vw;
    }
     
    .carousel-slide {
        flex: 0 0 100%;
        height: 100vh;
    }
    
    .botonesSlider {
        display: flex;
        justify-content: space-between;
    }
    /*Ajusta el posicionamiento de los botones del slider*/
    #anterior, #siguiente{
        all: unset;/*Propiedad CSS para eliminar todos los estilos predeterminados de la clase*/
        font-size: 5vw;
        color: white;
        font-family: 'Crimson Text';
        transform: translateY(-40vw);
    }
    
    #anterior:hover, #siguiente:hover{
        color: gray;
        transition: ease-in-out 0.1s;
        cursor: pointer;
    }
    
    #anterior:not(:hover), #siguiente:not(:hover){
        transition: ease-in-out 0.1s;
    }
    
}



/*Contenido de Reseñas*/
.resenas{
    justify-content: space-between;
    margin-top: 0.5vw;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1vw;
}

.titulos_resenas{
    font-size: 4vw;
    font-family: 'Cinzel Decorative';
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1vw;
    text-decoration: underline;
}

.resenas img
{
    width: 22vw;
    height: 22vw;
    padding: 1vw;
    float: left;/*El texto podrá colocarse por debajo de la imagen una vez supere su longitud (Esto para evitar espacios en blanco debajo de la imagen)*/
}
/*Contenido de Poesía*/
.main_poesia
{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2vw;
}
.titulo_p
{
    font-family: 'Cinzel Decorative';
    font-size: 5.2vw;
    text-align: left;
    margin: 1vw;
}
.poesias
{
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1vw;
    margin: 5vw;
}
.titulos_poesias
{
    font-size: 4vw;
    font-family: 'Cinzel Decorative';
    padding: 1vw;
    text-decoration: underline;
    line-height: 1.5;/*Espacio entre líneas, por defecto es 1*/
}
.contenido_total
{
    display: flex;
    justify-content: space-around;
}
.contenido_poesias
{
    font-family: 'Crimson Text';
    font-size: 2vw;
    text-shadow: 0.05vw 0.05vw gray;
    text-align: left;
    padding: 1vw;
    line-height: 1.5;
}
.poesias img
{
    width: 22vw;
    height: 22vw;
    padding: 1vw;
}
/*Footer*/

footer
{
    background-color: white;
}

footer p
{
    color: black;
    text-align: center;
    font-size: 2vw;
    padding: 5vw;
}

/* Declaracion del responsive de todas las páginas */
@media screen and (max-width: 768px) {
    /* General */
    .fondo{
        display: none;/*Se oculta el fondo para dispositivos de mayor ancho al de la condición*/
    }
    .modoOscuro .fondoModoOscuro-tel{
        display: block;/*Se muestra el otro fondo, adaptado al diseño responsive*/
        z-index: -2;
        width: 100%;/*Se asegura de que en cualquier medida siempre ocupe el 100% del ancho de la pantalla*/
        position: absolute;
        position: fixed;/*Se fija la posición del fondo para navegar en toda la página*/
        filter: blur(0.6vw);/*Se aplica un difuminado a la imagen*/
        transform: translate(0vw, -9vw);/*Se mueve la imagen 9vw para arriba para evitar el espacio en blanco generado por el nav una vez se scrollea*/
    }
    .fondo-tel{
        display: block;/*Se muestra el otro fondo, adaptado al diseño responsive*/
        z-index: -2;
        width: 100%;/*Se asegura de que en cualquier medida siempre ocupe el 100% del ancho de la pantalla*/
        position: absolute;
        position: fixed;/*Se fija la posición del fondo para navegar en toda la página*/
        filter: blur(0.6vw);/*Se aplica un difuminado a la imagen*/
        transform: translate(0vw, -9vw);/*Se mueve la imagen 9vw para arriba para evitar el espacio en blanco generado por el nav una vez se scrollea*/
    }
    footer p{/*Se amplifica el tamaño para ver mejor el texto*/
        font-size: 6vw;
        padding: 10vw;
    }
    /* Barra de navegación */
    nav a{
        display: none;/*Se dejan de mostrar los links pertenecientes al nav*/
    }
    nav img{
        width: 8vw;
        height: 8vw;
    }
    .nav-imagenes, #home{
        display: block;
    }

    .modoOscuro #resenasimg{
        filter: invert(100%);/*Esta imagen justo es del color del fondo, por lo que se le invierte el color una vez se activa el modo oscuro*/
    }
    /* Index */
    .titulo{/*Se amplifica el tamaño para ver mejor el texto, además de aumentar el tamaño del margen*/
        font-size: 10vw;
        text-align: center;
        margin: 5vw;
    }
    
    .introduccion{/*Se amplifica el tamaño para ver mejor el texto, además de aumentar el tamaño del margen y el padding*/
        font-size: 6vw;
        margin: 1vw;
        padding: 4.5vw;
    }
    
    .botones{/*Se cambia la dirección del flex a columnas, lo que ubica los botones de la página principal en columnas*/
        display: flex;
        margin: 2vw;
        justify-content: space-around;
        flex-direction: column;
    }

    .botones a{/*Corrección a un error visual con el color del fondo de los botones*/
        background-color: transparent;
    }

    .botones a img{/*Se amplifica el tamaño de la imagen y su padding para una mejor visualización*/
        width: 85vw;
        padding: 6vw;
        background-color: white;
    }

    /* Biografías */
    .biografias{
        display: block;/*Cambia la forma en la que se muestran los contenedores con esta clase de "flex" a "block"*/
        margin-top: 1vw;
        padding: 2vw;
    }
    
    .titulos_biografias{/*Se amplifica el tamaño para ver mejor el texto, además de aumentar el tamaño del padding*/
        font-size: 8vw;
        padding: 2vw;
    }
    
    .informacion{
        font-size: 4vw;
        text-shadow: 0.1vw 0.1vw gray;
        padding: 2vw;
    }
    
    .biografias img
    {
        width: 44vw;
        height: auto;/*Toma la altura original de la imagen adaptandola al ancho especificado*/
        padding: 2vw;
    }

    .carousel-container{
        display: flex;
        width: 90vw;
        scroll-snap-type: x mandatory;
        overflow-x: scroll;
        margin-top: 0;
        margin-bottom: 5vw;
        margin-right: 5vw;
        margin-left: 5vw;
    }

    .carousel-slide{
        flex: 0 0 100%;
        width: 100%;
        object-fit: cover;
        scroll-snap-align: center;
        height: 100vh;
    }
    #anterior, #siguiente{
        display: none;
    }

    /*Reseñas*/
    .resenas{/*Se amplifica el tamaño del margen superior y el padding*/
        margin-top: 1vw;
        padding: 2vw;
    }

    .titulos_resenas{/*Se amplifica el tamaño para ver mejor el texto, además de aumentar el tamaño del padding*/
        font-size: 8vw;
        padding: 2vw;
    }

    .resenas img
    {
        width: 44vw;
        height: 44vw;
        padding: 2vw;
        float: left;/*El texto podrá colocarse por debajo de la imagen una vez supere su longitud (Esto para evitar espacios en blanco debajo de la imagen)*/
    }
    /*Contenido de Poesía: se aplica la misma lógica que en el resto de páginas (se amplifican los padding, margin, font-size y width/height)*/
    .main_poesia
    {
        padding: 4vw;
    }
    .titulo_p
    {
        font-size: 10vw;
        margin: 2vw;
    }
    .poesias
    {
        padding: 2vw;
        margin: 5vw;
    }
    .titulos_poesias
    {
        font-size: 8vw;
        padding: 2vw;
    }
    .contenido_total
    {
        display: block;
        justify-content: space-around;
    }
    .contenido_poesias
    {
        font-size: 4vw;
        text-shadow: 0.1vw 0.1vw gray;
        padding: 2vw;
    }
    .poesias img
    {
        width: 44vw;
        height: 44vw;
        padding: 2vw;
    }
}

/*Contenido del index*/
.modoOscuro .titulo{
    color: white;
}

.modoOscuro .introduccion{
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

.modoOscuro .botones a{
    background-color: rgb(0, 0, 0);
}

/*Contenido de Biografías*/

.modoOscuro .biografias{
    background-color: rgba(0, 0, 0, 0.9);
}

.modoOscuro .titulos_biografias{
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}

.modoOscuro .informacion{
    color: white;
}

.modoOscuro #anterior,.modoOscuro #siguiente{
    color: black;
}

.modoOscuro #anterior:hover,.modoOscuro #siguiente:hover{
    color: white;
}

/*Contenido de Reseñas*/
.modoOscuro .resenas{
    background-color: rgba(0, 0, 0, 0.9);
}

.modoOscuro .titulos_resenas{
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}

/*Contenido de Poesía*/
.modoOscuro .main_poesia
{
    background-color: rgba(0, 0, 0, 0.5);
}
.modoOscuro .titulo_p
{
    color: white;
}
.modoOscuro .poesias
{
    background-color: rgba(0, 0, 0, 0.9);
}
.modoOscuro .titulos_poesias
{
    color: white;
}

.modoOscuro .contenido_poesias
{
    color: white;
}

.modoOscuro footer
{
    background-color: black;
}

.modoOscuro footer p
{
    color: white;
}